[Unit]
Description=Unipi Service
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/unipi
ExecStart=/bin/sh -c '/home/pi/unipi/venv/bin/python /home/pi/unipi/unipi-coinslot'

[Install]
WantedBy=multi-user.target